:root {
    --outerBG: #23252c;
    --innerBG: #1a1b21;
    --FooterBG: #161619;
}

* {
    box-sizing: border-box;
    font-family: inter, arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--outerBG);
}

.Container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;

    border-radius: 10px;
    background-color: var(--innerBG);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.info > .general {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 22px auto;
}

.info > .general > * {
    padding: 0;
    margin: 0;
}

.info > .general > .name {
    font-style: bold;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    vertical-align: center;

    color: #fff;
}

.info > .general > .jobTitle {
    font-size: 12.8px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;

    color: #f3bf99;
}

.info > .general > .websiteLink {
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    vertical-align: top;
    color: #f5f5f5;
}

.info > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17px;

    padding: 0;
    margin: 0;
}

.info > .buttons > * {
    padding: 9px 19px;
    border-radius: 10px;
    border: none;
}

.info > .buttons > .email {
    background-color: white;
    color: #374151;
}

.info > .buttons > * > img {
    margin-right: 9.6px;
}

.info > .buttons > .linkedIn {
    background-color: #5093e2;
    color: white;
}

.about,
.interests {
    color: white;
    width: 317px;
    padding: 0 35px;
    margin: 0px;
}

.h4Heading {
    margin: 0;
    font-style: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    color: #f5f5f5;
}

.about > p,
.interests > p {
    margin: 4px 0px;
    font-size: 10.24px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    color: #dcdcdc;
}

.interests {
    padding-bottom: 24px;
}
